@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Lato:wght@100;300;400;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
@font-face {
    font-family: w;
    src: url(./fonts/WanoQuin-ExtraBold.otf);
}

body{
    color: #fff;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    background-color: #141414;
    z-index: 3;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
    position: fixed;
    top: 0;
    width: 100vw;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 1000;
}

.navbar span{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 50px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: animate 5s infinite linear;
}
/*head menu animation*/

@keyframes animate {
    0%{
        left: 0;
        transform: translate(-100%);
    }
    100%{
        left: 100%;
        transform: translate(0%);
    }
}


.logo {
    text-transform: capitalize;
    font-style: 30px;
    cursor: pointer;
    font-family: w;
}

li {
    list-style: none;
}

a {
    color: #fff;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 5rem;
    text-transform: uppercase;
    font-weight: 100;
}
.btn {
    font-weight: 500;
    text-transform: uppercase;
}
.wrapper{
    display:grid;
}

section{
    width:100vw;
    flex-shrink: 0;
    overflow: hidden;
}



.img-container{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.text-content{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.title {

    width: 450px;
    position: relative;
    height: 110px;
    overflow: hidden;
}
.bg{
    font-size: 100px;
}
.sm{
    font-size: 35px;
    height: 40px;
}
.t-left{
    left: -20%;
}
.t-right{
    top: 50px;
    left: 70%;
}
.title span{
    position: absolute;
}
.n{
    z-index: -1;
}
.text-content p{
    transform: translateY(150px);
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 12px;
    font-weight: 300;
    background: rgba(0, 0, 0, 0.4);
    padding: 5px;
    
}
.v_container {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2fr 1fr;
    


}
/* push envlop*/
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 4rem;
    gap: 1rem;
}

.tv{
    font-family: w;
    display: flex;
    text-transform: capitalize;

    
}

/********* paragraph ********/
.text-container{
    max-width: 600px;  
}

.text-container p{
    padding-bottom: 1rem;
    line-height: 1.4;
    opacity: 0.8;
}
/******************************/

.right-side{
    margin: auto;
    width: 150px;
    height: 150px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    border-color: rgba(255, 255, 255, 0.6);
    border-radius: 50%;
    position: relative;
    /************************/
    
}

.right-side p{
    position: absolute;
    top: 45%;
    left: -15%;
    text-transform: uppercase;
    font-size: 14px;
    
}
.fa-arrow-right-long{
    transform: translateX(20px);
    
}

/***************works****************/

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(0%, -50%); 
    user-select: none; /* -- Prevent image highlighting -- */
  }

  
#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% top;
  }




/**********************************************************/
/*mouse effect*/

@keyframes rotate {
    from {
      rotate: 0deg;
    }
    
    50% {
      scale: 1 1.5;
    }
    
    to {
      rotate: 360deg;
    }
  }
 

  #blob {
    background-color: white;
    height: 20vmax;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(to right, aquamarine, mediumpurple);
    animation: rotate 20s infinite;
    opacity: 0.8;
    z-index: -5;
  }
  
    .blur {
    height: 100vh;
    width: 100vw;
    position:fixed;
    z-index: -2;
    backdrop-filter: blur(12vmax);


  }
  /*////////////////////////////////grid//////////////////////////////*/
  
.container {
    padding-top: 15vh;
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    
    z-index: 1000;
}

.left-text {
    
    
    background-color:rgba(26, 26, 26, 0.664);
    padding: 20px;
    border-radius: 20px;
    transition: all 1s ease-in-out;

}



.heading{
    font-size: 4rem;
    color: white;
    text-align: center;
}
.subheading{
    color:#ddd;
    margin-top:10px;
    text-align: center;
    font-size: 1.3rem;
    line-height: 3rem;
}

.gallery{
    flex-basis: 80%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
    background-color: rgba(48, 48, 48, 0.575);
    padding: 20px;
    border-radius: 30px;
    transition: all 1s ease-in-out;

}

.box {
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: left;
    align-items: end;
    font-size: medium;
    font-weight: 500;
    padding-left: 10px;
    padding-bottom: 10px;
    background-color: #963c00;
   /* background-blend-mode: luminosity ;*/
    background-blend-mode: multiply;
    transition: all 1s ease-in-out;
    border-radius: 1rem;
   
}
.box2 {
    background-size: cover;
    background-position: top;

    display: flex;
    flex-direction: column;

    justify-content: center; 
    align-items: center;

    background-color: #272727;
   /* background-blend-mode: luminosity ;*/
    background-blend-mode: multiply;
    transition: all 1s ease-in-out;
    border-radius: 1rem;
    
    
   
}



.box2 p{
    color: #d46803;
    font-size:250%;
    font-weight:900;
    mix-blend-mode: difference ;
    
}
#us{
    font-size:900%;

}


/********utility class******/
.box:hover{
    background-color: #ffffff;
   /* background-blend-mode: normal ;*/
   background-position: center;
   box-shadow: 0 0 4px #fff;
}
.box2:hover{
    background-color: #00800d;
   /* background-blend-mode: normal ;*/
   background-position: center;
   box-shadow: 0 0 4px #fff;
}

.row-2{
    grid-row: span 2;
}
.col-2{
    grid-column: span 2;
}
.row-3{
    grid-row: span 3;
}
.col-3{
    grid-column: span 3;
}

/*////////////////////////////////////DICE/////////////////////////////////////*/

/*
* Dice Style
*/

.game-container{


    display: grid;
    gap: 20px;
    grid-template-columns: repeat(1, 3fr);
    place-items: center;
    justify-content: center;
    background: #1b1b1b8c;
    grid-auto-rows: 120px;

}


.dice{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: 0.1s ease;

   /* animation: rolling 4s;*/

}
@keyframes rolling{
    50%{
        transform: rotateX(455deg) rotateY(455deg)
    }
}
.face{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 5px solid #333333;
    transform-style: preserve-3d;
    background: linear-gradient(
        145deg, #5f5f5f, #202020
    );
}
/*corners*/
.face::before{
    position: absolute;
    content:'';
    width: 100%;
    height: 50%;
    border-radius: 200px;
    background: #333333;
    transform: translateZ(-1px)
}


.face::after{
    position: absolute;
    content: '';
    top:50%;
    left:50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #ffffff;

}
/*1*/
.front {
    transform:translateZ(50px);
}
.back{
    transform: rotateX(180deg) translateZ(50px)
}
/*2*/
.top{
    transform: rotateX(90deg) translateZ(50px)
}
.bottom{
    transform: rotateX(-90deg) translateZ(50px)
}
.right{
    transform: rotateY(90deg) translateZ(50px) 
}
/*3*/
.left{
    transform: rotateY(-90deg) translateZ(50px)
}




.front::after{
    width: 30px;
    height: 30px;
    background: #f63330;
    margin: -15px 0 0 -15px
}

.back::after{
    margin: -35px 0 0 -30px;
    box-shadow: 40px 0,
                0 25px,
                40px 25px,
                0 50px,
                40px 50px;
}

.top::after{
    margin: -30px 0 0 -30px;
    box-shadow:40px 40px;
}
.bottom::after{
    margin: -36px 0 0 -36px;
    box-shadow: 26px 26px,
                52px 52px,
                52px 0,
                0 52px;
}
.right::after{
    margin: -30px 0 0 -30px;
    box-shadow: 40px 0,
    0 40px,
    40px 40px;
}
.left::after{
    margin: -35px 0 0 -35px;
    box-shadow: 25px 25px,
                50px 50px;
}
.game-btn{
    cursor: pointer;
    font-weight: 900;
    background-color: transparent;
    color:#00c020;
    width: 200px;
    padding: 6px 12px;
    border-radius: 15px;
    font: 700 16px;
    border: 2px solid #00c020;
    transition: 0.4s;
}
.game-btn:hover{
    color: #fff;
    background: #00c020;
}

/*///////////////////////////////////tictactoe/////////////////////////////////////////*/

#main-heading{
     text-align: center;
    color: white;
     mix-blend-mode: difference ;
}


#win-message{
    color: white;
    font-size: 18px;
    visibility: hidden;
}

#game-canvas{

    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 2rem;
}
  /*********************************phone***************************************/

  @media screen and (max-width: 800px){


    .bg{
        font-size: 70px;
    }
    .sm{
        font-size: 25px;
        height: 20px;

    }
    .left{
        left: 15%;
    }
    .right{
        top: 20px;
        left: 45%;
    }
    .title span{
        position: absolute;
    }

    .text-content p{
        transform: translateY(150px);
        text-align: center;
        
        font-size: 10px;
        letter-spacing: 12px;
        font-weight: 800;
    }
    .menu {
        display: flex;
        gap: 2rem; 
        
        text-transform: uppercase;
        font-weight: 300;
        font-size: 15px;
        padding-right: 1rem;
        padding-left: 1rem;
        margin-bottom: -2rem;
        margin-top: -2rem;
       
    }
    .logo{
        
        visibility: hidden;
    }
    .btn {
        visibility: hidden;
        
    }
    .navbar{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        
    }
    .txt-bottom{
        line-height: 1.5rem;
    }

    /***********************/
    .text-container{
        padding-top: 2rem;
        max-width: 600px;  
    }
    
    .text-container p{
        text-align: center;
        padding-bottom: 1rem;
        line-height: 1.4;
        opacity: 0.8;
       
    }

    /**********************************************/
    .tv .bg{
        font-size: 45px;
    }
    .v_container {
        align-items: center;
        display: block;
        padding-top: 5rem;
    
    
    }
    .v_container .left-side .tv {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;    
    }
    div .right-side {
        margin-top: -2rem;

    }
    /*////////////////////////////WORKS////////////////////*/ 
    #image-track {
        display: flex;
        gap: 4vmin;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(0%, -50%); 
        user-select: none; /* -- Prevent image highlighting -- */
      }
      
      #image-track > .image {
        width: 70vmin;
        height: 100vmin;
        object-fit: cover;
        object-position: 100% top;
      }

      /******************grid****************************/
  
    .container{
        flex-direction: column;
    }
    .gallery {
        width: 90%;
        gap: 10px;
    /*extera*/
        grid-auto-rows: 220px;
        margin-bottom: 15rem;
        /*grid-template-columns: repeat(2, 1fr);*/

    }
    .left-text {
        width: 80%;
        margin-top: 10rem;
        margin-bottom: 5rem;
    }
    /*not good
    .box{
        grid-row: span 1;
        grid-column: span 1;
    }*/




  }



